@font-face {
	font-family: "xicon";
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABhwAAsAAAAAJRgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPgAAAFZHIFOQY21hcAAAAYQAAACvAAACpPLiSE5nbHlmAAACNAAAE60AABzwEt6Y/WhlYWQAABXkAAAALgAAADYPqZ9vaGhlYQAAFhQAAAAYAAAAJAfKBAFobXR4AAAWLAAAABAAAABgWdgAAGxvY2EAABY8AAAAMgAAADJkVl3obWF4cAAAFnAAAAAfAAAAIAErAWFuYW1lAAAWkAAAAR8AAAHyCM/ZInBvc3QAABewAAAAvwAAARjkg1CHeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGTexziBgZWBgamKaQ8DA0MPhGZ8wGDIyAQUZWBlZsAKAtJcUxgcPjJ+FGd+AeRGgUmgRhABAPUAC0IAAHic7dFbDsIgFEXRjaX1Va2tDybgp2NxQH45ZUag93AchiSLnRLaNAD0QBceIUN6k9B4xWpq6x27tp55tj1Z67V8PjEnzfGc27yKvTm+OLBmwzbe2zNy4MjEiZmFMxeu3CixfeA/Rk3p/nsqOlFrZ7wy1M50VzWbTr32pnusg6GuDXVjqFtD3Znut+4NdTT9XT0Y6tFQJ0M9GepsqIuhng31YqhXQ70ZajHKF8VcODYAeJyVWWmwXEd1vt19u/vu29xl9u3OzH3z5mlGb9a3jxZbkqVnIdmSLFtgbAWMHUywMVSxxAUqgzGQpBChbHCRQBIqJBADAaowOHZiCjBl7BBSGCj2VP4AlapUEkJVQJrk9Mw8yVj8iOfO3KXv6XO6T5/lOz0SkuBDDpDPSfslaVTpDjdRG9mIxW2UxJuot4VG3RIKh6NBv5GwZJm10RgNB/B20EKBhbhfQkXEEl5NLBS4fvh9vNfNsLyNc43mBkOIbTQbOWwVmGfKnw4yyMARHixY9sIAbgyUTp++EVtuei3jPuvJ1vNfmtR5wopkhLCdMX+TnZmxMUJyZF38OzcjzebwcvIT6ZuSJEbDwyiMighOIbdQI2kkYsDiyvi0nVsYnqZzaiR82hj40NgfwUSH/aTRQRZKUqSNRnEjrjJQiGA0hNdbgu1wLLgyHotmUBG8CEtoOBLsGnNqQSzaBfmsXxHx6e0QqIDz1myAPsiHEcyo4AAyBlxmrVsIv8/irq2gXGgYsk4QQqpFmZi9aWsG9Q1DIxwhRdMwIYioOktlLYWaSkqTqSljRUPt25oP/9VCwZJNixKGIs/JkchOh6plqIbuM8OkVEHVbBijWljP645hF+uqbtqUaqiRT9dx4KebRcMx0lEQIKZULF3DLNIcQstUpTLCKS2nc6QrrhnBcxJn4mKu5XGZZZT+7kw53aBqHt/Ey2Weqyga0/X87nw6p8aZ4hIyKFEYIctdzqG9nVtW4nShhXSGFWY0yqZiatmFqClXwmwNAXddRd1FG21Ono5eczUhCqqkHF9f8KsOxwjjhYbBCCY8bxumUXMLmoyo0q5oXGUIM5Q2ddXwHDvLZcKtlK2Yugf6Ck189cJKcnBTsxROKKhurbaruxg38omM5VHWt0ym2AxUgljazKaqsqkJs5vZ3hfID6VEklK9QTzoDfrDXqUbFlAviIOdn8/iSrWxicT7ePP8+fMZDxMve376yXoXL3oZuMGtt9/5kJfJeA/d+fY779u5vQ9E4Kmc75D7JUU6JEn1xI1dPhhFwkN73UicimhqxhZqoaQ32EJg3PFw0G+juAp+Ki6sIE5+2At6PK62UR/M6+nzt57/0pMXn95kV7cr+eKbD+997VVy96rG3sbvtf+wMRw2bDw4M1w+ucLMxUyycnMyGiXPtP+ssafR2PPf5ydPoH3n737ySTTcteHsPTa+c496tJ/sabQRGl47RI47PDPY9ZKOH60kyujaEWo39ly7tw5TodP5/Jj8pXSXdE56r/Qp6aswq7mXttFoOLrkP9N5Td0BPMsSM+DCv+AUV4EWg98CAUSlsSDsdUMRkcC7Rn3hdbAaY7TDB/wtmPmb4ECE5wpp4iEq4tFQBIT2TEIRpabeDDywYCYY4CkPEG2hkRjqbIhC9/MBMfSm7Qd2+5pqJVo5Wmr18o2FfON4vlD30h5RnYBRjMBLzZpWtpQgp2scy4jXOlGxjl1zPavY1PL0wyZjXA0OFe002KiXlplscUbAHQmYOMIcDO3a6hs/7+SppjvRxshUENWa3f8amLZZ8BpDQpO9JSXqaJqaLZUDXSl6pkZ1N/S5TVjYznov+ZiWo8DQ//BKrpSkynLc+eBi3rD3mQe6vqVnXvL0ia3N9VYqFSgK1hTQ3FojHqwX/KaV1V09sxJ5CkaunK4aXG2vZ9ORQhjlnKaoqueNFK+5GoytaapMxpwTrGAXgo2Szyq63SiVPYWiTypF219PhWo+Z3asdJn/TXYtLJumvlSrjvzJKzEzKOYKc6vVTAWim1YoWAyrRClXNUrfQXOaWTQLD/fDbGplcPDjBV+mEpna1XNkG+50yRY5za0g8JRBMigJj8yQxy5cjaqfeMtbPtF6//u/gu+fHHzjvm10fP+9t48u2eVT5BlpWTor/bH0Zelb4NexTUtKb6wMxrg35oOOQm0eQEtJF40dmoJHG8ezxjHtKPGUgIqXStzR4xQEBMiO0yAwcPvDL6CFhUpah3glg9JUVYWVUhXOZIKR8xlxrzAK90Rm8FpT0cYVTe/R3Vl3RRG9NQW6U4JkN19b/PBzl7m9/0pu72m+QPiFr/9G98ev7PLXqkcuS3sYTXTH0ScYzuQZ5uXrybev7PMlNUWITJmiaM+fH5YZm48ZmigIxe4/XNn7C/WFatrCFz+10/De38puKvyjV3Y/P+v+26TZD18mf9DRL/5KzAUz3bm0/u8k75Ta0pb0GulD0tchyJdgeeWOOobF1VM9Edt91kIinveHyFZK8swq4g4adHiMxkpHnhtDCQUl3qt3lLHcE1yU2EaBDTQnhb6pjBH1y837uQKuQ2WR3gn4OYPnN6RgqGK+HB7a/0kVhYoTKnLOmAwdEYOe71DAQRjwgZlCRw7E96ToTj9l8uiLoUaHXgw1efvOUO+Jk7yDL40Wus3ZGL9/eWKTX3L6SxEh4IS0SwyrScHG4gmWSXQV5ABktHsvCb/wwxdBjF4ErVhqeZ6HngJ/Pyr9Bfi7hKYJRsC43ixPCDBmz3MKBPwx6o3ieeSPutEoaaTYPKcwgfZG7Tllr8pZ0oimLyLIStNGQRFGM+oO2uE8b58mlAbfEQvvO/NUGI12MOE0K40YXy6iadKxgaInsttoluhESmsk6H8Ht+Z3a6pHV45TxTHM7RWmyHhYPFBZvcEBvCWnX3bwT0A7iq01glxumyy3TF+jw7iuO62RaoxGuw2+3PB3IUINWanlsyqWOYQ1zDBEeorB9wErWQ7XZchNrOpthqW8rlqeWTTKFLk6F3hUI5RT1cIMYJyj8IHj+S5gFE9XTU/9uRdvtEOtU7UqJuUEGNvcCPRuNTa8ZGjY5Ku91v47AXAOmyf+/NhWy0eKjDo2Nbyb1gr1cNcP9me6AEwdB+kHEZ88IjuK3Fpd33vqU1cb1mjjw8eGt9b9KpiE8wlc0w1L4xTLKRkGplMSLViR7qoio0KGKgeyF7bzdmRyqoUZPQXGyzDgQGqpbp1rgQroko90WeZ6aGdzVqjTT7vx/s/dsHS8bGV0cFxZ4TJ31cXBysapTx9wXIlNbesJ8qiURk20gQ6gw+gE2Fe3KPuWXG3L/S051QV4kTT6sHSAKMBuBABJRjOkk4w4q7bxYARm0EaDUQeF3VEyaoguY9SdrjdQAwAKIgstIp7AW8Avg9EU9GHeLeLeaACNQwEPS2gEGAYAomAuevCIB3wEcCcAXJREUMpBhuKs1wWGfiggI4+ShqD3w+5wJDqIOgfMN4nCDoKhJdwHVNQQIwGkKY8SuBOYq5FMISkwDANewjDjgIcwIN/CcRKyRNwXEekKt+BVYehVG/XjqUMJiJdsobrPe9G0EAMRWN686+zx1XJ59fjZu958+XZz+eYTB3M6RXBokNHgY6RVTJlOdcaRyXXHNSCkcghNUAgw7ECzE2q4wMyCU7JMq+ga3ARMkfIDDbzrCFQC6YVTu+rXXD3OQW2la8zSAbWZliYbjqWlLM1SHUXLqL6GEgIBBkRCXapClYAEkDThnHZTqq04UG0Z+Ywhw3g0T3EVzYqB2LFKpYJOCv3DbcA0UOQAa0haRFbhhFSeSWGeKMjRmJIrVTKujbVUzhLu4iEwVVkzadT+OuWWZVjcYBoFEybEGbs2M5gq8ORziGYZg2kzVSOPlteOnb37TS/U3oWvZNr7mlmzqBWY7bsKNVSCuCigIMCDy2OmgFYhooMPyMjEWMmHacc2GbgTlkFewaKyYjDF4LKd0SMoTmU/sPPNrG7pVAXsA0pnrgEQ0zAA64HuZUUxKHcMJMIyJGqQBWMEOMssg1vccYUeEWMpy1Vk1dMw19SUKis+ZI+ciB7twStOH8qooAhVtYqlUi5UCWM6gyFoMnYNbEDEkVVwYCcIA9UO01DgKr5nWIhiNQDwyxh6AkEUQxRmCG5PSAqCDhzfkFFdVV2ZgA1MUwKe++63pX3SO8BnR0mb9KfFiXDQ/syhglkwf15VMStQksagv3WphhmIREFF+dDrjob9xpxLo9/GnXmm6M9pt/AAhMw3HKZH4M8EkO1aLVv0VQwVfmBnVYvr5cWtGlh1kMqlVOotpAJYfIKO7MkbGtdYzg41FfIhZ/HFtwDqiceLJV2x1Kwd6CrBql/K1Gq1GJwE1hZCWo5BLyO/5wjGGGoPf8GlKnAO0PejyKksH3xVruIGkDewW1P0ymbzs0EzHTiGxlJpPeOHlcLw3PgayDeGx4XhRV4p2z2UxL3b/c8tbFZ0peZizNTALedvO7S76kRR2IuTg71syYug4EYcOir64a1zo0I5SmX0dIpphhNGl3P0d8jXoPZ1pddJz8F6+Kza6A+7Id25QaB1gGPJYLgplidaRyUawILg3cvT5Av5cVkEJ9D5YMx6ERTNAsZFARTFYvHiKAStD6dKh9WJYYHGOOldyaS7w4SuI1hPIW0gJEMMi5PfYNJBMyYxJG4hJJgKhMXsoXPlpVJpqYyOz64Ts5S75siROzzv2q0xgCgm3ELzsKykwH9cV4HoQElROB6XabPwUdd+5ZEjZ8zUU7amhwiSq18IhZ3XbdtGejzyd5hAkSCYqOZlJkQWTH4UuMUDBxw5yH7tt/I4eTQfZICAKa6Hi2GptKtUimaXyQfM3MvfdoM8kG+89x4Xwh4EDW7LkCwzTcOA4ArmhiCgKQXlRqpzOo2RxLvr3Cl5QE/f++qQkqX8po+pQS3oShS/tVDG+TWgAjgy56OHmvBRERcL/EamAXgRVjt865kAp87cuzuQDbRU2BBcmAkomnA0ZZODDBAsX6KClDyvCf+ZPCldI10nnYGaMJ5C93jQFQB+HYmSnk1r+6k7zlauV0SwXL2gOgP707wnNg5hZUXtD5RjlBJ5sd+oMrpz8z/oxmOrq8dufAxhkxgIt5JW1nIgxCDqcPTUie3V1e0Tj4O5Q9wh2C+GQbiri5ElWwj9Y221XltpTN4I1/pK/Xv7Tr1i++h1Lz99CPO8WslWm7LsqgXbNFVrl8fQwVNnjx89esvpfSzVdzXHcqu+LBN5d1JsaBVYgjcU67XVRj03u4AK1Kke/oV8F+rilBRJOakkxVIitaQO1LiAAlw/7FW6QyhQGzENKoPn/1Ds9sjzft9M5XIpfIM4X/gP8tSF1cu/yWT//rftfMlW1rv4ZS+b9fCGl71j37637XzxfRdWyNcu/+Z7aT8gt0oVgZJCUS4HlZ3roNpGs/2zZQiuvUpA/hQiWGZyEZHZdfLvnePtRx/tHO8gB/+41qt9r9avnUP90/3ev/X7p3vnLu/X/RNZhZkLJIaikVsZiZheFZjbhzWGaAAhHIL8NCajz5568HXFj0xe/4C/svi7d92+0Gy1mp6XDdP+6ni8urF9mKxuvmHfo5M9Hzq9srC0tLB4++vvaHp9z/dXH/rYB1bXS8XL+eQ5ch6scREkV9wKiXg8qu5seM3yBZjbfHNrnlh6CX4cpSc//dkXv/jYzdcn+1q9Qillu8cPrt80vPtQdbWxq2doimNnwkpq8Wb095OfogNAKfMoP1z725M3vTYXKfJjmOhmr9W4Pp8xdYJfJoYyHdRHycdgZNN9knpSRztGnOq5Mfr1Z9BNk1+sHF+Bb+Wtb/3FBXlyfgFMe3UV/2rSvDynz5MvA7el2ZxSoySOqjvV0E527A1eOE2O70O9ybNHn3322dvetefOgyd3dz3PdttLR/ee3bj3WGNrcTlf9A1z72rnUOvMbeilk2cwAlqqZIob49+5+Zaz441iVpGfxbJu5wtnltqrliHjV83HtEG+dXlMgDB39Cwqp3lWvqzp+cZgL0E/QXTy608+8sgnb7ilvd3dqNQM0zRqlY3udvuWtVy7WGtCGak0a8V2bu0G/I3JhRuAlKqF6lUH7nr1q197cH+cV+kjhLn+9fv37N13feBScmquJ/wz8jjkr4LIXTtqDmbWxhNSTwRQ6IOG0LHhkcHgyPChcbUWx5vjU6g8PtFZrpRfj6XGYLA9GKAHH+wf3v74kWsGxyY/D44dOHvb3S89dd39O3sXPyLvkf5Iep/0oPRB6V9BWhixHWzSn2ak6Ybn9IDIJnIazH4HcAhFTAMdnNZRdRmqjJE475SWs/p3yIfzJhEEZ39pLDdmYXO2hbsDaIbJVDCcQPFTwbt7QbJ7uYf8aqrKXxB3Rd95G56W18AqnG64snnInf49AmGYFfGlHqQGeMY3Sj6UaHooe/Vqaetd5wYr1YLpIiKHUHnqCjaoyhTKAiurtVr1Qabsyei7TUyRHlWrzFVtw9YUjVHxHxOkJDVjMhUgdYpNNxUgvWDbQyYKAsYcW9Z9qpmGSinJBCkf0hSz2bshf118Gv3Ksrduz+UUttXePWgdcD1OW6VqLdfWoI4oLKWzjgr1BLUI8RtRaa0hM9871Bp2d+8BQI0BjKdMrFPl2vUtcnK0p1Dy4sjw3czaopK0m5lupdFcGvebo5WiwnPl6wqeTyniVDE9N9BhsAqZVyQimwLIpqruWVnL0gnSTDXIHG46YSVQM4YKqNs2FYcUHKJgX8FECXPMLZkRl03FYlelw3IrGwVecBGhCdQe12Pl5HjfNRtnM1mVry+1uwt7HIezZqFUzTZTXMlYVRcwdJDtlAktb9aXdy2uMV7I3zFuLeqhQxVXX1k59kDSvDIOiz8oEreSiDXvir0MHywGoBIA5un/GHDg3skH7yl+BP3BA8GodcfdtyeL8PG8XJD217a21tb/f3H4/wByqZX2AAAAeJxjYGRgYADi31qG8+P5bb4ycDO/AIowXAvVDUWmmR8yPwBSHAxMIB4AJBgJuAAAeJxjYGRgYH7BwAAnHzIwMqACCQBEzQLVeJxjYGBgYH5BOwwA4SUVHgAAAAAAYgGgAdQCPANoA4gEiAWABq4IjAlSCnIK9gtGC3gLtAv8DB4MaAyyDOYOPA54AAB4nGNgZGBgkGAMZeBkAAEmIOYCQgaG/2A+AwAUCAGOAHicXY69TsMwFIVP+odoEAIhMZulC1LSduwDtDMduqeJ0x8lceS4VSsxM/MUzDwFz8WJeyUqbOn6O+ceXxvAA34QoF0B+r62q4Mbqgt3SXfCPfKjcB8hnoUHVC/CQ7xiJBziCW+cEPRu6QyRCXdwj0q4S/9duEf+EO5z+qfwgP6X8BArfAuHGAWD0y411VJvDkViPfuy0rbZmUpNorHXC11pmzidqfVZNcfN1Llc5daUam4qp4vCqNqavU5dtHWunsVxLn6UmhIn7JDC8NdLaGxwQIEE9sr/oxUTFg11qxQmiDC+6i/Yr3wmgeOZMbPGmbXBkbOndB1y6pwZg5I09zfbdMFt6NS+t6eT0o+w9bdqzBBz5//ykX+7/AVV81OKAHicbY3ZTsMwFEQ9abYmhKVs5fMS+zY1ufG1vCDx9zRFFS/M0xmdkUYV6jed+j9HFNihRIUaDVrs0aHHHQbc4wGPeMIBz3jBK97wjiM+VD2x6CXupjyX+mx9r1myyZ5lNJUWltBrWdfRGbaOulNmjjoQucMfXmY8+kjtKTudrLhqZpmo+IzNEmn16bte4jbfr1YH2W5Kz5fDQEbamMhbl2S4Adv5nJqtSU5XLV8UhhtcdZ1ySExldkaU+gGf9UsIAA==) format("woff");
}

.xicon {
	
}

.xicon:before {
	font-family: xicon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.xicon.blocks:before {
	content: "\f101" !important;
}
.xicon.bug:before {
	content: "\f102" !important;
}
.xicon.chip:before {
	content: "\f103" !important;
}
.xicon.cloudupload:before {
	content: "\f104" !important;
}
.xicon.color:before {
	content: "\f105" !important;
}
.xicon.commandline:before {
	content: "\f106" !important;
}
.xicon.fullscreen:before {
	content: "\f107" !important;
}
.xicon.fullscreencollapse:before {
	content: "\f108" !important;
}
.xicon.function:before {
	content: "\f109" !important;
}
.xicon.globe:before {
	content: "\f10a" !important;
}
.xicon.js:before {
	content: "\f10b" !important;
}
.xicon.ksempty:before {
	content: "\f10c" !important;
}
.xicon.ksfull:before {
	content: "\f10d" !important;
}
.xicon.microchip:before {
	content: "\f10e" !important;
}
.xicon.plug:before {
	content: "\f10f" !important;
}
.xicon.redo:before {
	content: "\f110" !important;
}
.xicon.stepinto:before {
	content: "\f111" !important;
}
.xicon.stepintolight:before {
	content: "\f112" !important;
}
.xicon.stepout:before {
	content: "\f113" !important;
}
.xicon.stepover:before {
	content: "\f114" !important;
}
.xicon.stepoverlight:before {
	content: "\f115" !important;
}
.xicon.turtle:before {
	content: "\f116" !important;
}
.xicon.undo:before {
	content: "\f117" !important;
}
